<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IVM.Properties.Settings.InvManagerConnectionString"
            connectionString="Data Source=10.228.20.1;Initial Catalog=InvManager;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>